<!doctype html>

<html class="no-js" lang="eng">



<head>

    <title>About Us</title>   

    <!-- CSS -->

    <?php include('include/css.php') ?>

</head>



<body>

    <!-- header -->

    <?php include('include/header.php') ?>

    <!-- end -->



    <!--mini cart-->

    <div class="mini_cart">

        <div class="cart_gallery">

            <div class="cart_close">

                <div class="cart_text">

                    <h3>cart</h3>

                </div>

                <div class="mini_cart_close">

                    <a href="javascript:void(0)"><i class="ion-android-close"></i></a>

                </div>

            </div>

            <div class="cart_item">

                <div class="cart_img">

                    <a href="product-detail.php"><img src="assets/img/product/product1.png" alt=""></a>

                </div>

                <div class="cart_info">

                    <a href="product-detail.php">Primis In Faucibus</a>

                    <p>1 x <span> $65.00 </span></p>

                </div>

                <div class="cart_remove">

                    <a href="#"><i class="ion-android-close"></i></a>

                </div>

            </div>

            <div class="cart_item">

                <div class="cart_img">

                    <a href="product-detail.php"><img src="assets/img/product/product2.png" alt=""></a>

                </div>

                <div class="cart_info">

                    <a href="product-detail.php">Letraset Sheets</a>

                    <p>1 x <span> $60.00 </span></p>

                </div>

                <div class="cart_remove">

                    <a href="#"><i class="ion-android-close"></i></a>

                </div>

            </div>

        </div>

        <div class="mini_cart_table">

            <div class="cart_table_border">

                <div class="cart_total">

                    <span>Sub total:</span>

                    <span class="price">$125.00</span>

                </div>

                <div class="cart_total mt-10">

                    <span>total:</span>

                    <span class="price">$125.00</span>

                </div>

            </div>

        </div>

        <div class="mini_cart_footer">

            <div class="cart_button">

                <a href="cart.php">View cart</a>

            </div>

            <div class="cart_button">

                <a href="checkout.php"><i class="fa fa-sign-in"></i> Checkout</a>

            </div>

        </div>

    </div>

    <!--mini cart end-->



    <!-- page search box -->

    <div class="page_search_box">

        <div class="search_close">

            <i class="ion-close-round"></i>

        </div>

        <form class="border-bottom" action="#">

            <input class="border-0" placeholder="Search products..." type="text">

            <button type="submit"><span class="pe-7s-search"></span></button>

        </form>

    </div>



    <!-- breadcrumbs area start -->

    <div class="breadcrumbs_aree breadcrumbs_bg mb-110" data-bgimg="assets/img/breadcrumb/bg.jpg">

        <div class="container">

            <div class="row">

                <div class="col-12">

                    <div class="breadcrumbs_text">

                        <h1>About Us</h1>

                        <ul>

                            <li><a href="index.html">Home </a></li>

                            <li> // About Us</li>

                        </ul>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <!-- breadcrumbs area end -->



    <!-- about video section start -->

    <!-- <div class="about_video-section wow fadeInUp" data-wow-delay="0.1s" data-wow-duration="1.1s">

        <div class="container">

            <div class="row">

                <div class="col-12">

                    <div class="about_video_thumb">

                        <img src="assets/img/bg/about-bg.png" alt="">

                        <div class="video_paly_icon">

                            <a class="video_popup" href="https://www.youtube.com/watch?v=2Zt8va_6HRk"><img

                                    src="assets/img/others/video-play.png" alt=""></a>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div> -->

    <!-- about video section end -->



    <!-- about description section start -->

    <div class="about_description_section mb-105">

        <div class="container">

            <div class="row">

                <div class="col-lg-12">

                    <div class="about_desc wow fadeInUp" data-wow-delay="0.1s" data-wow-duration="1.1s">

                        <h2>Singh Darbar Sweets: A Taste of Tradition in the Heart of Dehradun, Uttarakhand</h2>

                        <p>At Singh Darbar Sweets, we bring you the authentic flavors of India's culinary heritage right in the heart of Dehradun, Uttarakhand. Established with a passion for preserving and sharing the rich tradition of Indian sweets and snacks, we take pride in offering you the finest and most delectable treats made with pure desi ghee.</p>

                    </div>

                    <div class="about_desc wow fadeInUp" data-wow-delay="0.1s" data-wow-duration="1.1s">

                        <h2>Our Story</h2>

                        <p>Nestled in the picturesque city of Dehradun, Singh Darbar Sweets is a testament to the age-old culinary artistry that has been passed down through generations. Our journey began with a commitment to honor the essence of Indian sweets and snacks, creating a haven for those who appreciate the time-honored flavors of our diverse country.</p>

                    </div>

                    <div class="about_desc wow fadeInUp" data-wow-delay="0.1s" data-wow-duration="1.1s">

                        <h2>The Essence of Pure Desi Ghee</h2>

                        <p>What sets Singh Darbar Sweets apart is our unwavering dedication to quality. We believe that the use of pure desi ghee is the cornerstone of authentic taste, and this belief permeates every morsel of our creations. Our sweets are a harmonious blend of tradition and innovation, and each bite tells a story of our commitment to purity and taste.</p>

                    </div>

                    <div class="about_desc wow fadeInUp" data-wow-delay="0.1s" data-wow-duration="1.1s">

                        <h2>Our Offering</h2>

                        <p>At Singh Darbar Sweets, you'll find a wide array of mouthwatering delicacies to tantalize your taste buds. From the ever-popular classics like Gulab Jamun and Rasgulla to the more exotic delights like Malai Peda and Mysore Pak, our sweet offerings are a testament to our craftsmanship. We also take pride in our savory snacks, such as Samosas, Pakoras, and Chivda, which are perfect accompaniments to your tea-time rituals.</p>

                    </div>

                    <div class="about_desc wow fadeInUp" data-wow-delay="0.1s" data-wow-duration="1.1s">

                        <h2>Quality Assurance</h2>

                        <p>We understand the importance of trust when it comes to food. That's why every sweet and snack that leaves our kitchen undergoes stringent quality checks to ensure it meets our high standards. Your satisfaction is our priority, and we strive to exceed your expectations with every bite.</p>

                    </div>

                    <div class="about_desc wow fadeInUp" data-wow-delay="0.1s" data-wow-duration="1.1s">

                        <h2>Visit Us Today</h2>

                        <p>Whether you're a resident of Dehradun or just passing through Uttarakhand, we invite you to step into Singh Darbar Sweets and embark on a culinary journey that celebrates the flavors of India. Our welcoming ambiance and warm hospitality are the perfect complements to the delightful treats that await you.</p>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <!-- about description section end -->



    <!-- brand section start -->

    <!-- <div class="brand_section_area mb-105 wow fadeInUp" data-wow-delay="0.1s" data-wow-duration="1.1s">

        <div class="container">

            <div class="row">

                <div class="col-12">

                    <div class="brand_inner slick__activation" data-slick='{

                        "slidesToShow": 5,

                        "slidesToScroll": 1,

                        "arrows": false,

                        "dots": false,

                        "autoplay": false,

                        "speed": 300,

                        "infinite": true ,  

                        "responsive":[  

                          {"breakpoint":992, "settings": { "slidesToShow": 4 } },  

                          {"breakpoint":768, "settings": { "slidesToShow": 3 } }, 

                          {"breakpoint":576, "settings": { "slidesToShow": 2 } }, 

                          {"breakpoint":300, "settings": { "slidesToShow": 1 } }  

                         ]                                                     

                    }'>

                        <div class="single_brand ">

                            <a class="primary" href="#"><img src="assets/img/others/brand1.png" alt=""></a>

                            <a class="secondary" href="#"><img src="assets/img/others/brand-hover1.png" alt=""></a>

                        </div>

                        <div class="single_brand">

                            <a class="primary" href="#"><img src="assets/img/others/brand2.png" alt=""></a>

                            <a class="secondary" href="#"><img src="assets/img/others/brand-hover2.png" alt=""></a>

                        </div>

                        <div class="single_brand">

                            <a class="primary" href="#"><img src="assets/img/others/brand3.png" alt=""></a>

                            <a class="secondary" href="#"><img src="assets/img/others/brand-hover3.png" alt=""></a>

                        </div>

                        <div class="single_brand">

                            <a class="primary" href="#"><img src="assets/img/others/brand4.png" alt=""></a>

                            <a class="secondary" href="#"><img src="assets/img/others/brand-hover4.png" alt=""></a>

                        </div>

                        <div class="single_brand">

                            <a class="primary" href="#"><img src="assets/img/others/brand5.png" alt=""></a>

                            <a class="secondary" href="#"><img src="assets/img/others/brand-hover5.png" alt=""></a>

                        </div>

                        <div class="single_brand ">

                            <a class="primary" href="#"><img src="assets/img/others/brand1.png" alt=""></a>

                            <a class="secondary" href="#"><img src="assets/img/others/brand-hover1.png" alt=""></a>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div> -->

    <!-- brand section end -->



    <!-- team member section start -->

    <!-- <div class="team_member_section mb-110">

        <div class="container">

            <div class="section_title text-center wow fadeInUp mb-50" data-wow-delay="0.1s" data-wow-duration="1.1s">

                <h2>Team Member</h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod <br> tempor incididunt

                    ut

                    labore et dolore magna</p>

            </div>

            <div class="team_member_inner">

                <div class="row">

                    <div class="col-lg-4 col-md-4 col-sm-6">

                        <div class="single_team_member wow fadeInUp" data-wow-delay="0.1s" data-wow-duration="1.1s">

                            <div class="team_thumb">

                                <a href="#"><img src="assets/img/others/team1.png" alt=""></a>

                                <div class="team_text">

                                    <h3>Kianna Pham</h3>

                                    <h4>Team Member</h4>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6">

                        <div class="single_team_member wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.2s">

                            <div class="team_thumb">

                                <a href="#"><img src="assets/img/others/team2.png" alt=""></a>

                                <div class="team_text">

                                    <h3>Kianna Pham</h3>

                                    <h4>Team Member</h4>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6">

                        <div class="single_team_member wow fadeInUp" data-wow-delay="0.3s" data-wow-duration="1.3s">

                            <div class="team_thumb">

                                <a href="#"><img src="assets/img/others/team3.png" alt=""></a>

                                <div class="team_text">

                                    <h3>Kianna Pham</h3>

                                    <h4>Team Member</h4>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div> -->

    <!-- team member section end -->



    <!-- testimonial section start -->

    <div class="testimonial_section mb-110 wow fadeInUp bg" data-wow-delay="0.1s" data-wow-duration="1.1s">

        <div class="container">

            <div class="row">

                <div class="col-12">

                    <div class="testimonial_wrapper slick__activation" data-slick='{

                            "slidesToShow": 1,

                            "slidesToScroll": 1,

                            "arrows": false,

                            "dots": false,

                            "autoplay": false,

                            "speed": 300,

                            "infinite": true ,  

                            "responsive":[ 

                              {"breakpoint":500, "settings": { "slidesToShow": 1 } }  

                             ]                                                     

                        }'>

                        <?php
                            $testimonials = [
                                [
                                    "name" => "Shraddha Negi",
                                    "title" => "Local Guide",
                                    "text" => "A name which is synonymous with quality, value for money and excellent services. SINGH IS TRULY THE KING OF ALL DARBARS - In all categories of food menu served.
                                    From crispy kachoris to melt in mouth moti chur laddos they can wow! and impress you with all!! 😋 😋 yumm",
                                    "img"=> "assets/img/testimonial/img-01.jpg"
                                ],
                                [
                                    "name" => "Bharat Arya",
                                    "title" => "Local Guide",
                                    "text" => "It is a very beautiful dhaba and the staff here is very good, the taste is also amazing, the sweets and snacks here are also very tasty, the cleanliness is very good, this is a small Punjab, you all must visit here. 💯👍",
                                    "img"=> "assets/img/testimonial/img-02.jpg"
                                ],
                                [
                                    "name" => "Harpreet Singh",
                                    "title" => "Local Guide",
                                    "text" => "Phenomenal quality of sweets. Much better than other renowned names of the town. The most prominent thing is that they have very calculated sugar quantity in their sweets, unlike others which let you taste sugar instead of particular sweet. Must try before preferring other old brands. Hundred out of hundred.",
                                    "img"=> "assets/img/testimonial/img-03.jpg"
                                ]
                            ];

                            foreach ($testimonials as $testimonial) {
                            ?>
                            <div class="testimonial_inner d-flex align-items-center">
                                <div class="testimonial_thumb">
                                    <img src="<?php echo $testimonial['img']; ?>" alt="">
                                </div>
                                <div class="testimonial_content">
                                    <div class="testimonial_rating">
                                        <ul>
                                            <li><a href="#"><i class="ion-ios-star"></i></a></li>
                                            <li><a href="#"><i class="ion-ios-star"></i></a></li>
                                            <li><a href="#"><i class="ion-ios-star"></i></a></li>
                                            <li><a href="#"><i class="ion-ios-star"></i></a></li>
                                            <li><a href="#"><i class="ion-ios-star"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="testimonial_author">
                                        <h3><?php echo $testimonial['name']; ?></h3>
                                        <h4><?php echo $testimonial['title']; ?></h4>
                                    </div>
                                    <div class="testimonial_desc">
                                        <p><?php echo $testimonial['text']; ?></p>
                                    </div>
                                </div>
                            </div>
                            <?php
                            }
                        ?>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <!-- testimonial section end -->



    <!-- service section start-->

    <!-- <div class="service_section mb-110">

        <div class="container">

            <div class="row">

                <div class="col-12">

                    <div class="services_section_inner d-flex justify-content-between">

                        <div class="single_services one text-center wow fadeInUp" data-wow-delay="0.1s"

                            data-wow-duration="1.1s">

                            <div class="services_thumb">

                                <img src="assets/img/others/services1.png" alt="">

                            </div>

                            <div class="services_content">

                                <h3><a href="shop-left-sidebar.html">Pastry</a></h3>

                                <p>Lorem ipsum dolor sit ametgtol consecr adipiscing elit.</p>

                            </div>

                        </div>

                        <div class="single_services two text-center wow fadeInUp" data-wow-delay="0.2s"

                            data-wow-duration="1.2s">

                            <div class="services_thumb">

                                <img src="assets/img/others/services2.png" alt="">

                            </div>

                            <div class="services_content">

                                <h3><a href="shop-left-sidebar.html">Breakfast</a></h3>

                                <p>Lorem ipsum dolor sit ametgtol consecr adipiscing elit.</p>

                            </div>

                        </div>

                        <div class="single_services three text-center wow fadeInUp" data-wow-delay="0.3s"

                            data-wow-duration="1.3s">

                            <div class="services_thumb">

                                <img src="assets/img/others/services3.png" alt="">

                            </div>

                            <div class="services_content">

                                <h3><a href="shop-left-sidebar.html">Cofee Cake</a></h3>

                                <p>Lorem ipsum dolor sit ametgtol consecr adipiscing elit.</p>

                            </div>

                        </div>

                        <div class="single_services four text-center wow fadeInUp" data-wow-delay="0.4s"

                            data-wow-duration="1.4s">

                            <div class="services_thumb">

                                <img src="assets/img/others/services4.png" alt="">

                            </div>

                            <div class="services_content">

                                <h3><a href="shop-left-sidebar.html">Bake Tost</a></h3>

                                <p>Lorem ipsum dolor sit ametgtol consecr adipiscing elit.</p>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div> -->

    <!-- service section end-->



      <!-- faqs -->

      <div class="faq-main-content">

        <div class="container">

            <div class="row">

                <div class="col-lg-12 mb-5">

                    <div class="frequently-area">

                        <h2 class="heading mb-0">Frequently Asked Questions</h2>

                        <div class="row">

                            <div class="col-md-6">

                                <div class="row">

                                    <div class="col-lg-12">

                                        <div class="frequently-item">

                                            <ul>

                                                <li class="has-sub active">

                                                    <a href="javascript:void(0)">What makes your India Desi Ghee Sweets, Mathri's, and Namkeens special?

                                                        <i class="pe-7s-angle-down"></i>

                                                    </a>

                                                    <ul class="frequently-body">

                                                        <li>
                                                            Our products are prepared with pure Desi Ghee, following traditional recipes, and reflect the rich flavors of Dehradun. We take pride in offering you an authentic taste experience.
                                                        </li>

                                                    </ul>

                                                </li>

                                                <li class="has-sub">

                                                    <a href="javascript:void(0)">Do you have a physical store in Dehradun where I can purchase your products?
                                                        <i class="pe-7s-angle-down"></i>

                                                    </a>

                                                    <ul class="frequently-body">

                                                        <li>
                                                            Yes, we have an outlet in Dehradun where you can find our freshly prepared delicacies. Visit us to savor the real taste of Dehradun.
                                                        </li>

                                                    </ul>

                                                </li>

                                                <li class="has-sub">

                                                    <a href="javascript:void(0)">Can I place an order online for your products?

                                                        <i class="pe-7s-angle-down"></i>

                                                    </a>

                                                    <ul class="frequently-body">

                                                        <li>
                                                            Absolutely! You can conveniently place orders through our website and have your favorite items delivered to your doorstep.
                                                        </li>

                                                    </ul>

                                                </li>

                                                <li class="has-sub">

                                                    <a href="javascript:void(0)">How fresh are your products, and how do you ensure their freshness?
                                                        <i class="pe-7s-angle-down"></i>
                                                    </a>

                                                    <ul class="frequently-body">

                                                        <li>
                                                            We prepare all our products in-house at our Dehradun outlet. They are made fresh daily to ensure that you receive the finest quality and taste. We take great care in maintaining their freshness.
                                                        </li>

                                                    </ul>

                                                </li>

                                                <li class="has-sub">

                                                    <a href="javascript:void(0)">Are your products suitable for vegetarians?
                                                        <i class="pe-7s-angle-down"></i>
                                                    </a>

                                                    <ul class="frequently-body">

                                                        <li>
                                                        Yes, all our products are vegetarian. We use pure Desi Ghee and other vegetarian ingredients to craft our sweets, mathri's, and namkeens.
                                                        </li>

                                                    </ul>

                                                </li>

                                            </ul>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="col-md-6 pt-5 pt-md-0">

                                <div class="row">

                                    <div class="col-lg-12">

                                        <div class="frequently-item">

                                            <ul>

                                                <li class="has-sub active">

                                                    <a href="javascript:void(0)">Do you offer any special or seasonal items?
                                                        <i class="pe-7s-angle-down"></i>

                                                    </a>

                                                    <ul class="frequently-body">

                                                        <li>
                                                            Yes, we frequently introduce special and seasonal items that are exclusive to our store. Keep an eye on our website and social media for updates on these delicious offerings.
                                                        </li>

                                                    </ul>

                                                </li>

                                                <li class="has-sub">

                                                    <a href="javascript:void(0)">Can I place a bulk order for a special occasion or event?
                                                        <i class="pe-7s-angle-down"></i>

                                                    </a>

                                                    <ul class="frequently-body">

                                                        <li>
                                                            Certainly! We accept bulk orders for weddings, festivals, and other special events. Please contact us in advance to discuss your requirements.
                                                        </li>

                                                    </ul>

                                                </li>

                                                <li class="has-sub">

                                                    <a href="javascript:void(0)">What is the shelf life of your products?

                                                        <i class="pe-7s-angle-down"></i>

                                                    </a>

                                                    <ul class="frequently-body">

                                                        <li>
                                                            Our products are best enjoyed when fresh, and they typically have a shelf life of a few weeks. We recommend consuming them as soon as possible for the best taste.
                                                        </li>

                                                    </ul>

                                                </li>

                                                <li class="has-sub">

                                                    <a href="javascript:void(0)">Do you offer shipping outside of Dehradun or India?
                                                        <i class="pe-7s-angle-down"></i>

                                                    </a>

                                                    <ul class="frequently-body">

                                                        <li>
                                                            Currently, we primarily serve customers in Dehradun and nearby regions. For shipping outside of our local area or internationally, please get in touch with us to discuss the possibilities.
                                                        </li>

                                                    </ul>

                                                </li>

                                                <li class="has-sub">

                                                    <a href="javascript:void(0)">How can I get in touch with your customer support team if I have more questions or need assistance?

                                                        <i class="pe-7s-angle-down"></i>

                                                    </a>

                                                    <ul class="frequently-body">

                                                        <li>
                                                            You can reach our customer support team through the contact information provided on our website. We're always here to assist you with any inquiries or concerns.
                                                        </li>

                                                    </ul>

                                                </li>

                                            </ul>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>

    <!-- end -->



    <!--footer-->

    <?php include('include/footer.php') ?>

    <!--end-->



    <!-- JS -->

    <?php include('include/javascript.php') ?>



</body> 



</html>