<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <title>Contact Us</title>   
    <!-- CSS -->
    {% include 'include/css.html' %}
</head>

<body>
    <!-- header -->
    {% include 'include/header.html' %}
    <!-- end -->

    <!--mini cart-->
    <div class="mini_cart">
        <div class="cart_gallery">
            <div class="cart_close">
                <div class="cart_text">
                    <h3>cart</h3>
                </div>
                <div class="mini_cart_close">
                    <a href="javascript:void(0)"><i class="ion-android-close"></i></a>
                </div>
            </div>
            <div class="cart_item">
                <div class="cart_img">
                    <a href="product-detail.php"><img src="assets/img/product/product1.png" alt=""></a>
                </div>
                <div class="cart_info">
                    <a href="product-detail.php">Primis In Faucibus</a>
                    <p>1 x <span> $65.00 </span></p>
                </div>
                <div class="cart_remove">
                    <a href="#"><i class="ion-android-close"></i></a>
                </div>
            </div>
            <div class="cart_item">
                <div class="cart_img">
                    <a href="product-detail.php"><img src="assets/img/product/product2.png" alt=""></a>
                </div>
                <div class="cart_info">
                    <a href="product-detail.php">Letraset Sheets</a>
                    <p>1 x <span> $60.00 </span></p>
                </div>
                <div class="cart_remove">
                    <a href="#"><i class="ion-android-close"></i></a>
                </div>
            </div>
        </div>
        <div class="mini_cart_table">
            <div class="cart_table_border">
                <div class="cart_total">
                    <span>Sub total:</span>
                    <span class="price">$125.00</span>
                </div>
                <div class="cart_total mt-10">
                    <span>total:</span>
                    <span class="price">$125.00</span>
                </div>
            </div>
        </div>
        <div class="mini_cart_footer">
            <div class="cart_button">
                <a href="cart.php">View cart</a>
            </div>
            <div class="cart_button">
                <a href="checkout.php"><i class="fa fa-sign-in"></i> Checkout</a>
            </div>
        </div>
    </div>
    <!--mini cart end-->

    <!-- page search box -->
    <div class="page_search_box">
        <div class="search_close">
            <i class="ion-close-round"></i>
        </div>
        <form class="border-bottom" action="#">
            <input class="border-0" placeholder="Search products..." type="text">
            <button type="submit"><span class="pe-7s-search"></span></button>
        </form>
    </div>

    <!-- breadcrumbs area start -->
    {% load static %}
    <div class="breadcrumbs_aree breadcrumbs_bg mb-100" data-bgimg="{% static 'assets/img/breadcrumb/bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs_text">
                        <h1>Contact Us</h1>
                        <ul>
                            <li><a href="/">Home </a></li>
                            <li> // Contact Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumbs area end -->

    <!-- contact section start -->
    <div class="contact_page_section mb-100">
        <div class="container">
            <div class="contact_details">
                <div class="row">
                    <div class="col-lg-7 col-md-6">
                        <div class="contact_info_content">
                            <h2>We Are Here Fro Help You!
                                Please Contact Us.</h2>
                            <div class="contact_search">
                                <form action="#">
                                    <input placeholder="Enter your country or city" type="text">
                                    <button type="submit"><i class="ion-ios-search"></i></button>
                                </form>
                            </div>
                            <div class="contact_info_details mb-45">
                                <h3>Store In Dehradun</h3>
                                <p>opp. Uttaranchal University, Kehri Gaon, Premnagarr, Dehradun, Uttarakhand 248007</p>
                                <p><a href="tel:919790446512">+91 9790446512</a></p>
                                <p><a href="mailto:jagjeet.ssehgal@gmail.com">jagjeet.ssehgal@gmail.com</a></p>
                                <span>See On The Map</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6">
                        {% load static %}
                        <div class="contact_form" data-bgimg="{% static 'assets/img/others/contact-form-bg-shape.png' %}">
                            <h2>Send A Quest</h2>
                            <form id="contact-form" action="https://whizthemes.com/mail-php/other/mail.php">
                                <div class="form_input">
                                    <input name="con_name" placeholder="Name*" type="text">
                                </div>
                                <div class="form_input">
                                    <input name="con_email" placeholder="E-Mail*" type="text">
                                </div>
                                <div class="form_input">
                                    <input name="con_subject" placeholder="Subject" type="text">
                                </div>
                                <div class="form_textarea">
                                    <textarea name="con_message" placeholder="Message Hare"></textarea>
                                </div>
                                <div class="form_input_btn">
                                    <button type="submit" class="btn btn-link">send message</button>
                                </div>
                                <p class="form-message"></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- contact section end -->

    <!--contact map start-->
    <div class="contact_map mt-70">
        <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d110187.93756730063!2d77.87308916095601!3d30.340346168180425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x3908d568563fa5c7%3A0x828efb9c89b5c1a0!2sopp.%20Uttaranchal%20University%2C%20Kehri%20Gaon%2C%20Premnagarr%2C%20Dehradun%2C%20Uttarakhand%20248007!3m2!1d30.340372!2d77.9554905!5e0!3m2!1sen!2sin!4v1697572814166!5m2!1sen!2sin" width="100%" style="border:0;height:500px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <!--contact map end-->

    <!--footer-->
    {% include 'include/footer.html' %}
    <!--end-->

    <!-- JS -->
    {% include 'include/javascript.html' %}
    <!--end-->

</body>

</html>