{% load static %}

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="canonical" href="" />
<link rel="alternate" href="" hreflang="en-IN" />
<link rel="alternate" href="" hreflang="x-default" />

<!-- meta -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="geo.region" content="IN-UT" />
<meta name="geo.placename" content="Rishikesh" />
<meta name="geo.position" content="30.13136;78.325617" />
<meta name="ICBM" content="30.13136, 78.325617" />
<!-- cdn links -->

<!-- Add site Favicon -->
<link rel="icon" href="{% static 'assets/img/logo/logo.png' %}" sizes="32x32" />
<link rel="icon" href="{% static 'assets/img/logo/logo.png' %}" sizes="192x192" />
<link rel="apple-touch-icon" href="{% static 'assets/img/logo/logo.png' %}" />
<meta name="msapplication-TileImage" content="{% static 'assets/img/logo/logo.png' %}" />

<!-- CSS -->
<link rel="stylesheet" href="{% static 'assets/css/vendor/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/ionicons.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/pe-icon-7-stroke.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/jquery-ui.min.css' %}">
<!-- Main Style CSS -->
<link rel="stylesheet" href="{% static 'assets/scss/style.css' %}">


<!--modernizr min js here-->
<script src="{% static 'assets/js/vendor/modernizr-3.11.2.min.js' %}"></script>

<!-- Structured Data  -->
<script type="application/ld+json">
    {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "name": "Replace_with_your_site_title",
    "url": "Replace_with_your_site_URL"
    }
</script>